@model IEnumerable<Criminal_RM_Using_MVC.Models.User>

@{
    ViewBag.Title = "Index";
    <link href="~/Styles/TableStyle.css" rel="stylesheet" />
}

<h2>Users</h2>

<p>

</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Position_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Position_Name)
            </td>
            <td>
                @if (User.IsInRole("DCP") || User.IsInRole("JCP") || User.IsInRole("ACP"))
                {
                    <button onclick="location.href='@Url.Action("Delete", "Users",new { id = item.User_ID})';return false;"><span class="glyphicon glyphicon-trash icons"></span></button>
                }
            </td>
        </tr>
    }

</table>
